.wan-spinner {
  border: 2px solid #dddddd;
  display: inline-block;
}

.wan-spinner .minus,
.wan-spinner .plus,
.wan-spinner input {
  height: 15px;
  float: left;
  line-height: 1em;
  padding: 5px;
  text-align: center;
}

.wan-spinner input {
  border: none;
  border-left: 2px solid #dddddd;
  border-right: 2px solid #dddddd;
  margin: 0;
  width: 40px;
  height: 30px;
}

.wan-spinner .minus,
.wan-spinner .plus {
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.editor-fa{font-size:18px;}
.imageIcon{width:18px;height: 18px;}
.imagetextbold{font-weight:bold;font-size:20px;margin:15px 10px;}
textarea.editor-textarea{height:120px;resize:none;}
.mt-50{margin-top:50px;}
.color-div{width:36px;height:24px;background-color:black;border-radius:3px;display:inline-block;vertical-align:top;margin-left:15px;}
.color-div.large{width:64px;height:24px;}
.right-col{margin-top:10px;}
.fullwidth{width:100%;}
.nopad{padding:0;}
.pl-20{padding-left:20px;}
.pr-20{padding-right:20px;}

.editor-objectsBox{border:1px solid #ccc;max-height:250px;overflow-y:auto;}
.svgImage{margin:15px 10px;width:64px;height:64px;cursor:pointer;}
.colorLayers{max-height:300px;overflow-y: auto;overflow-x: hidden;}






